<div>

    <mat-card class="parent">
    <form [formGroup]="loginform" class="cen">
        
        
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <mat-icon matSuffix>person</mat-icon>
            <input matInput type="text" placeholder="Enter UserName" formControlName="username">
        </mat-form-field>
      
        <br>
        
        <mat-form-field appearance="fill" >
            <mat-label>Password</mat-label>
            <mat-icon matSuffix>visibility</mat-icon>
            <input matInput type="text" placeholder="Enter Password" formControlName="password">
          </mat-form-field>
      
        <div>
            <button mat-raised-button color="primary" (click)="Login()">Login </button><br>            
        </div> 

    </form>
</mat-card>
<router-outlet></router-outlet>
</div>

